<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><table align="center" cellpadding="0" cellspacing="0" width="650" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<#if rejectReason??>
					<tr>
						<td style="padding: 0px 30px 20px 30px;"><table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>拒绝理由：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>${rejectReason}</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
					</#if> <#if topic??>
					<tr>
						<td style="padding: 0px 30px 0px 30px;">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>Topic信息：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>Topic名称：</td>
										<td>${topic.name}</td>
									</tr>
									<tr>
										<td>存储类型：</td>
										<td>${topic.storageType}</td>
									</tr>
									<tr>
										<td>编码类型：</td>
										<td>${topic.codecType}</td>
									</tr>
									<tr>
										<td>Endpoint：</td>
										<td>${topic.endpointType}</td>
									</tr>
									<tr>
										<td>负责人1：</td>
										<td>${topic.owner1}</td>
									</tr>
									<tr>
										<td>电话1：</td>
										<td>${topic.phone1}</td>
									</tr>
									<tr>
										<td>负责人2：</td>
										<td>${topic.owner2}</td>
									</tr>
									<tr>
										<td>电话2：</td>
										<td>${topic.phone2}</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 20px 30px 10px 30px; font-family: Arial, sans-serif; font-size: 14px;">查看各个环境Topic信息： <a href="${fwsTopicUrl}">Fws</a> <a style="padding: 0px 5px 0px 5px;" href="${uatTopicUrl}">Uat</a> <a href="${prodTopicUrl}">Prod</a></td>
					</tr>
					</#if>
					<tr>
						<td style="padding: 0px 30px 0px 30px;">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>申请信息：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>Topic名称：</td>
										<td>${app.productLine}.${app.entity}.${app.event}</td>
									</tr>
									<tr>
										<td>存储类型：</td>
										<td>${app.storageType}</td>
									</tr>
									<#if app.storageType=="kafka">
									<tr>
										<td>语言类型：</td>
										<td>${app.languageType}</td>
									</tr>
									<tr>
										<td>编码类型：</td>
										<td>${app.codecType}</td>
									</tr>
									</#if>
									<tr>
										<td>消息上限（条/天）</td>
										<td>${app.maxMsgNumPerDay}</td>
									</tr>
									<tr>
										<td>消息保留时间（天）</td>
										<td>${app.retentionDays}</td>
									</tr>
									<tr>
										<td>消息预估大小（Kb）</td>
										<td>${app.size}</td>
									</tr>
									<tr>
										<td>负责人1：</td>
										<td>${app.ownerName1}/${app.ownerEmail1}</td>
									</tr>
									<tr>
										<td>负责人2：</td>
										<td>${app.ownerName2}/${app.ownerEmail2}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td style="padding: 20px 0px 10px 0px; font-family: Arial, sans-serif; font-size: 14px;"><a href="${url}">点击此处</a>进行审批</td>
									</tr>
								</tfoot>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 0px 30px 0px 30px;"><hr></td>
					</tr>
					<tr>
						<td style="padding: 20px 30px 20px 30px;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #808080; font-family: Arial, sans-serif; font-size: 14px;">只需在Fws环境申请，申请通过后，会在测试环境和生产环境创建Topic。</td>
								</tr>
								<tr>
									<td style="color: #808080; font-family: Arial, sans-serif; font-size: 14px;">消息队列使用注意事项：<a href="http://conf.ctripcorp.com/pages/viewpage.action?pageId=68333389">http://conf.ctripcorp.com/pages/viewpage.action?pageId=68333389</a></td>
								</tr>
								<tr>
									<td style="color: #808080; font-family: Arial, sans-serif; font-size: 14px;">Hermes的基本用法：<a href="http://conf.ctripcorp.com/display/FRAM/Hermes+Tutorial">http://conf.ctripcorp.com/display/FRAM/Hermes+Tutorial</a></td>
								</tr>
								<tr>
									<td style="color: #808080; font-family: Arial, sans-serif; font-size: 14px;">Hermes的各种使用方式：<a href="http://conf.ctripcorp.com/pages/viewpage.action?pageId=68792639">http://conf.ctripcorp.com/pages/viewpage.action?pageId=68792639</a></td>
								</tr>
							</table></td>
					</tr>
				</table></td>
		</tr>
	</table>
</body>
</html>