<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td><table align="center" cellpadding="0" cellspacing="0" width="650" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td style="padding: 0px 30px 20px 30px;">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>Schema信息：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>Schema名称：</td>
										<td>${schema.name}</td>
									</tr>
									<tr>
										<td>版本：</td>
										<td>${schema.version}</td>
									</tr>
									<tr>
										<td>类型：</td>
										<td>${schema.type}</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 0px 30px 20px 30px;"><table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>Topic信息：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>Topic名称：</td>
										<td>${topic.name}</td>
									</tr>
									<tr>
										<td>存储类型:</td>
										<td>${topic.storageType}</td>
									</tr>
									<tr>
										<td>Endpoint:</td>
										<td>${topic.endpointType}</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
					<tr>
						<td style="padding: 0px 30px 20px 30px;"><table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<td style="padding: 10px 0px 10px 0px; color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;"><b>上传信息：</b></td>
									</tr>
								</thead>
								<tbody style="color: #153643; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
									<tr>
										<td>环境:</td>
										<td>${environment}</td>
									</tr>
									<tr>
										<td>上传者：</td>
										<td>${userName}</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
				</table></td>
		</tr>
	</table>
</body>
</html>