<div class="row">
	<div class="col-md-6">
		<label class="label label-info">
			<span ng-if="application.type==0">Topic创建-申请内容</span>
			<span ng-if="application.type==1">Consumer创建-申请内容</span>
		</label>
		<div class="panel panel-info">
			<div class="panel panel-body">
				<div class="form-horizontal" ng-if="application.type==0">
					<div class="form-group">
						<label class="col-md-3 control-label">产品线</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.productLine" e-name="productLine" e-form="applicationForm" ng-bind="application.productLine" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Entity</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.entity" e-name="entity" e-form="applicationForm" ng-bind="application.entity" placeholder="Entity" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Event</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.event" e-name="event" e-form="applicationForm" ng-bind="application.event" placeholder="Event" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">存储类型</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-select="application.storageType" e-name="storageType" e-form="applicationForm" e-ng-options="storageType for storageType in storageTypes" ng-bind="application.storageType"></div>
						</div>
					</div>
					<div ng-if="(application.storageType=='kafka' && !applicationForm.$visible)||(applicationForm['$data']['storageType']=='kafka' && applicationForm.$visible)" class="form-group">
						<label class="col-md-3 control-label">语言类型</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-select="application.languageType" e-name="languageType" e-form="applicationForm" e-ng-options="languageType for languageType in languageTypes" ng-bind="application.languageType"></div>
						</div>
					</div>
					<div ng-if="(application.storageType=='kafka' && !applicationForm.$visible)||(applicationForm['$data']['storageType']=='kafka' && applicationForm.$visible)" class="form-group">
						<label class="col-md-3 control-label">编码类型</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-select="application.codecType" e-name="codecType" e-form="applicationForm" e-ng-options="codecType for codecType in codecTypes" ng-bind="application.codecType"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息上限（条/天）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.maxMsgNumPerDay" e-name="maxMsgNumPerDay" e-form="applicationForm" ng-bind="application.maxMsgNumPerDay"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息保留时间（天）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.retentionDays" e-name="retentionDays" e-form="applicationForm" ng-bind="application.retentionDays"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息大小（Kb）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.size" e-name="size" e-form="applicationForm" ng-bind="application.size"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName1" e-name="ownerName1" e-form="applicationForm" ng-bind="application.ownerName1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail1" e-name="ownerEmail1" e-form="applicationForm" ng-bind="application.ownerEmail1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人手机1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone1" e-name="ownerPhone1" e-form="applicationForm" ng-bind="application.ownerPhone1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName2" e-name="ownerName2" e-form="applicationForm" ng-bind="application.ownerName2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail2" e-name="ownerEmail2" e-form="applicationForm" ng-bind="application.ownerEmail2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人手机2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone2" e-name="ownerPhone2" e-form="applicationForm" ng-bind="application.ownerPhone2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">描述</label>
						<div class="col-md-8">
							<div class="form-control-static" editable-text="application.description" e-name="description" e-form="applicationForm" ng-bind="application.description"></div>
						</div>
					</div>
				</div>
				<div class="form-horizontal" ng-if="application.type==1">
					<div class="form-group">
						<div class="form-group">
							<label class="col-md-3 control-label">Topic名称</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.topicName" e-name="topicName" e-form="applicationForm" ng-bind="application.topicName"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Consumer名称</label>
							<p ng-if="!applicationForm.$visible" class="col-md-6 form-control-static">{{application.productLine}}.{{application.product}}.{{application.project}}</p>
							<div ng-if="applicationForm.$visible" class="col-md-2">
								<div class="form-control" editable-text="application.productLine" e-name="productLine" e-form="applicationForm" ng-bind="application.productLine" placeholder="PRODUCTLINE" type="text"></div>
							</div>
							<div ng-if="applicationForm.$visible" class="col-md-3">
								<div class="form-control" editable-text="application.product" e-name="product" e-form="applicationForm" ng-bind="application.product" placeholder="PRODUCT" type="text"></div>
							</div>
							<div ng-if="applicationForm.$visible" class="col-md-3">
								<div class="form-control" editable-text="application.project" e-name="project" e-form="applicationForm" ng-bind="application.project" placeholder="PROJECT" type="text"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">应用名称</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.appName" e-name="appName" e-form="applicationForm" ng-bind="application.appName"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">超时时间（秒）</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.ackTimeoutSeconds" e-name="ackTimeoutSeconds" e-form="applicationForm" ng-bind="application.ackTimeoutSeconds"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">需要重发？</label>
							<div class="col-md-6">
								<div editable-radiolist="application.needRetry" e-name="needRetry" e-form="applicationForm" ng-bind="application.needRetry" e-ng-options="s.value as s.text for s in needRetryList" class="form-control-static"></div>
							</div>
						</div>
						<div class="form-group" ng-if="(application.needRetry=='true' && !applicationForm.$visible)||(applicationForm['$data']['needRetry']=='true' && applicationForm.$visible)">
							<label class="col-md-3 control-label">重发次数</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.retryCount" e-name="retryCount" e-form="applicationForm" ng-bind="application.retryCount"></div>
							</div>
						</div>
						<div class="form-group" ng-if="(application.needRetry=='true' && !applicationForm.$visible)||(applicationForm['$data']['needRetry']=='true' && applicationForm.$visible)">
							<label class="col-md-3 control-label">重发间隔（秒）</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.retryInterval" e-name="retryInterval" e-form="applicationForm" ng-bind="application.retryInterval"></div>
							</div>
						</div>
						<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName1" e-name="ownerName1" e-form="applicationForm" ng-bind="application.ownerName1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail1" e-name="ownerEmail1" e-form="applicationForm" ng-bind="application.ownerEmail1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人手机1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone1" e-name="ownerPhone1" e-form="applicationForm" ng-bind="application.ownerPhone1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName2" e-name="ownerName2" e-form="applicationForm" ng-bind="application.ownerName2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail2" e-name="ownerEmail2" e-form="applicationForm" ng-bind="application.ownerEmail2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人手机2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone2" e-name="ownerPhone2" e-form="applicationForm" ng-bind="application.ownerPhone2"></div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<form editable-form name="applicationForm" onaftersave="updateApplication(0)" ng-show="applicationForm.$visible">
					<button type="submit" class="btn btn-success btn-xs pull-right" aria-hidden="true" ng-disabled="applicationForm.$waiting">
						<span class="glyphicon glyphicon-saved"></span>保存
					</button>
					<button type="button" style="margin-right: 15px" class="btn btn-xs btn-danger pull-right" aria-hidden="true" ng-disabled="applicationForm.$waiting" ng-click="applicationForm.$cancel()">取消</button>
				</form>
				<button class="btn btn-success btn-xs pull-right" aria-hidden="true" ng-click="applicationForm.$show()" ng-show="!applicationForm.$visible && application.status==1">
					<span class="glyphicon glyphicon-pencil"></span>修改
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<label class="label label-success">上线流程说明</label>
		<div class="panel panel-success">
			<div class="panel panel-body" style="margin-bottom: 0px;">
				<div class="alert alert-success" style="margin-bottom: 0px;">
					上线流程要经过几个步骤，反映在审批状态上是：
					<ul>
					<li><strong>申请（创建）/ 拒绝 </strong>：默认提交为申请（创建）状态， 拒绝之后按照意见进行修改后，保存提交，状态重新设置为申请（创建）状态。</li>
					<li><strong>通过（创建） </strong>： 通过申请审核。</li>
					<li><strong>同步 </strong>： 按照申请创建Topic，并且同步到FWS/UAT至少一个系统，定义为同步状态。</li>
					<li><strong>申请（上线） </strong>：保证进行到同步状态之后才可以操作， 提交请求将topic同步到线上系统PROD/TOOLS。 </li>
					<li><strong>通过（上线）</strong>： 上线请求通过。</li>
					<li><strong>上线</strong>： Topic同步到线上完毕！</li>
					</ul>
				</div>
			</div>
		</div>
		<label class="label label-warning">申请反馈</label>
		<div class="panel panel-warning">
			<div class="panel panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">审批状态</label>
						<div class="col-md-6">
							<div ng-if="application.status==0" class="form-control-static text-info">审核中(创建)</div>
							<div ng-if="application.status==1" class="form-control-static text-danger">拒绝</div>
							<div ng-if="application.status==2" class="form-control-static text-success">申请通过(创建)</div>
							<div ng-if="application.status==3" class="form-control-static text-success">同步</div>
							<div ng-if="application.status==4" class="form-control-static text-info">审核中(上线)</div>
							<div ng-if="application.status==5" class="form-control-static text-success">申请通过(上线)</div>
							<div ng-if="application.status==6" class="form-control-static text-success">上线</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">审核人</label>
						<div class="col-md-6">
							<div class="form-control-static">{{ application.approver || "N/A" }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">修改意见</label>
						<div class="col-md-6">
							<div class="form-control-static">{{ application.comment || "N/A" }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<label class="label label-danger" ng-if="application.status == 3">申请上线</label>
		<div class="panel panel-danger" ng-if="application.status == 3">
			<div class="panel panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">环境</label>
						<div class="col-md-6">
							<div class="btn-group" data-toggle="buttons">
							  <label class="btn btn-primary btn-sm" ng-click="application.onlineEnv='prod'">
							    <input type="radio" name="options" id="option1" autocomplete="off" value="prod"> Prod
							  </label>
							  <label class="btn btn-primary btn-sm" ng-click="application.onlineEnv='tools'">
							    <input type="radio" name="options" id="option2" autocomplete="off" value="tools"> Tools
							  </label>
							</div>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" ng-click="updateApplication(4)">提交</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tooltip top" role="tooltip">
	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner">Some tooltip text!</div>
</div>
<alert-x id="alert"></alert-x>