<div class="row">
	<div class="col-md-6">
		<label class="label label-info">{{currentPageType}}申请内容</label>
		<div class="panel panel-info">
			<div class="panel panel-body">
				<div class="form-horizontal" ng-if="application.type==0">
					<div class="form-group">
						<label class="col-md-3 control-label">产品线</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.productLine" e-name="productLine" e-form="applicationForm" ng-bind="application.productLine" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Entity</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.entity" e-name="entity" e-form="applicationForm" ng-bind="application.entity" placeholder="Entity" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Event</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-text="application.event" e-name="event" e-form="applicationForm" ng-bind="application.event" placeholder="Event" type="text"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">存储类型</label>
						<div class="col-md-4">
							<div class="form-control-static" editable-select="application.storageType" e-name="storageType" e-form="applicationForm" e-ng-options="storageType for storageType in storageTypes" ng-bind="application.storageType"></div>
						</div>
					</div>
					<div ng-if="(application.storageType=='kafka' && !applicationForm.$visible)||(applicationForm['$data']['storageType']=='kafka' && applicationForm.$visible)" class="form-group">
						<label class="col-md-3 control-label">语言类型</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-select="application.languageType" e-name="languageType" e-form="applicationForm" e-ng-options="languageType for languageType in languageTypes" ng-bind="application.languageType"></div>
						</div>
					</div>
					<div ng-if="(application.storageType=='kafka' && !applicationForm.$visible)||(applicationForm['$data']['storageType']=='kafka' && applicationForm.$visible)" class="form-group">
						<label class="col-md-3 control-label">编码类型</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-select="application.codecType" e-name="codecType" e-form="applicationForm" e-ng-options="codecType for codecType in codecTypes" ng-bind="application.codecType"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息上限（条/天）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.maxMsgNumPerDay" e-name="maxMsgNumPerDay" e-form="applicationForm" ng-bind="application.maxMsgNumPerDay"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息保留时间（天）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.retentionDays" e-name="retentionDays" e-form="applicationForm" ng-bind="application.retentionDays"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">消息大小（Kb）</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.size" e-name="size" e-form="applicationForm" ng-bind="application.size"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName1" e-name="ownerName1" e-form="applicationForm" ng-bind="application.ownerName1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail1" e-name="ownerEmail1" e-form="applicationForm" ng-bind="application.ownerEmail1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人电话1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone1" e-name="ownerPhone1" e-form="applicationForm" ng-bind="application.ownerPhone1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName2" e-name="ownerName2" e-form="applicationForm" ng-bind="application.ownerName2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail2" e-name="ownerEmail2" e-form="applicationForm" ng-bind="application.ownerEmail2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人电话2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone2" e-name="ownerPhone2" e-form="applicationForm" ng-bind="application.ownerPhone2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">描述</label>
						<div class="col-md-8">
							<div class="form-control-static" editable-text="application.description" e-name="description" e-form="applicationForm" ng-bind="application.description"></div>
						</div>
					</div>
				</div>
				<div class="form-horizontal" ng-if="application.type==1">
					<div class="form-group">
						<div class="form-group">
							<label class="col-md-3 control-label">Topic名称</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.topicName" e-name="topicName" e-form="applicationForm" ng-bind="application.topicName"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Consumer名称</label>
							<p ng-if="!applicationForm.$visible" class="col-md-6 form-control-static">{{application.productLine}}.{{application.product}}.{{application.project}}</p>
							<div ng-if="applicationForm.$visible" class="col-md-2">
								<div class="form-control" editable-text="application.productLine" e-name="productLine" e-form="applicationForm" ng-bind="application.productLine" placeholder="PRODUCTLINE" type="text"></div>
							</div>
							<div ng-if="applicationForm.$visible" class="col-md-3">
								<div class="form-control" editable-text="application.product" e-name="product" e-form="applicationForm" ng-bind="application.product" placeholder="PRODUCT" type="text"></div>
							</div>
							<div ng-if="applicationForm.$visible" class="col-md-3">
								<div class="form-control" editable-text="application.project" e-name="project" e-form="applicationForm" ng-bind="application.project" placeholder="PROJECT" type="text"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">应用名称</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.appName" e-name="appName" e-form="applicationForm" ng-bind="application.appName"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">超时时间（秒）</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.ackTimeoutSeconds" e-name="ackTimeoutSeconds" e-form="applicationForm" ng-bind="application.ackTimeoutSeconds"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">需要重发？</label>
							<div class="col-md-6">
								<div editable-radiolist="application.needRetry" e-name="needRetry" e-form="applicationForm" ng-bind="application.needRetry" e-ng-options="s.value as s.text for s in needRetryList"></div>
							</div>
						</div>
						<div class="form-group" ng-if="(application.needRetry=='true' && !applicationForm.$visible)||(applicationForm['$data']['needRetry']=='true' && applicationForm.$visible)">
							<label class="col-md-3 control-label">重发次数</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.retryCount" e-name="retryCount" e-form="applicationForm" ng-bind="application.retryCount"></div>
							</div>
						</div>
						<div class="form-group" ng-if="(application.needRetry=='true' && !applicationForm.$visible)||(applicationForm['$data']['needRetry']=='true' && applicationForm.$visible)">
							<label class="col-md-3 control-label">重发间隔（秒）</label>
							<div class="col-md-6">
								<div class="form-control-static" editable-text="application.retryInterval" e-name="retryInterval" e-form="applicationForm" ng-bind="application.retryInterval"></div>
							</div>
						</div>
						<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName1" e-name="ownerName1" e-form="applicationForm" ng-bind="application.ownerName1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail1" e-name="ownerEmail1" e-form="applicationForm" ng-bind="application.ownerEmail1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人电话1</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone1" e-name="ownerPhone1" e-form="applicationForm" ng-bind="application.ownerPhone1"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人姓名2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerName2" e-name="ownerName2" e-form="applicationForm" ng-bind="application.ownerName2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人邮箱2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerEmail2" e-name="ownerEmail2" e-form="applicationForm" ng-bind="application.ownerEmail2"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">负责人电话2</label>
						<div class="col-md-6">
							<div class="form-control-static" editable-text="application.ownerPhone2" e-name="ownerPhone2" e-form="applicationForm" ng-bind="application.ownerPhone2"></div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<form editable-form name="applicationForm" onaftersave="update_application($data)" ng-show="applicationForm.$visible">
					<button type="submit" class="btn btn-success btn-xs pull-right" aria-hidden="true" ng-disabled="applicationForm.$waiting">
						<span class="glyphicon glyphicon-saved"></span>保存
					</button>
					<button type="button" style="margin-right: 15px" class="btn btn-xs btn-danger pull-right" aria-hidden="true" ng-disabled="applicationForm.$waiting" ng-click="applicationForm.$cancel()">取消</button>
				</form>
				<button class="btn btn-success btn-xs pull-right" aria-hidden="true" ng-click="applicationForm.$show()" ng-show="!applicationForm.$visible && application.status==1">
					<span class="glyphicon glyphicon-pencil"></span>修改
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<label class="label label-info">申请反馈</label>
		<div class="panel panel-info">
			<div class="panel panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">审批状态</label>
						<div class="col-md-6">
							<div ng-if="application.status==0" class="form-control-static text-info">审核中</div>
							<div ng-if="application.status==1" class="form-control-static text-danger">拒绝</div>
							<div ng-if="application.status==2" class="form-control-static text-success">申请成功</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">审核人</label>
						<div class="col-md-6">
							<div class="form-control-static">{{ application.approver ||"无" }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">修改意见</label>
						<div class="col-md-6">
							<div class="form-control-static">{{ application.comment ||"无" }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tooltip top" role="tooltip">
	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner">Some tooltip text!</div>
</div>