<div>
	<div class="col-md-12">
		<h1 style="font-family: 微软雅黑;">ConsumerGroup申请</h1>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<h3 style="font-family: 微软雅黑;">Topic名称</h3>
			</div>
			<div class="col-md-7">
				<div class="form-group" style="margin-bottom: 0px;">
					<label>Topic名称</label> <input class="form-control" ng-model="new_application.topicName" id="inputTopicName" type="text"></input>
				</div>
				<span class="help-block"><small>希望消费的Topic名称，可同时申请多个Topic。<br>只能从已存在的Topic中选取，申请状态中的Topic不能申请consumer。<br>不能同时选择kafka和mysql两种存储类型的Topic。
				</small></span>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<h3 style="font-family: 微软雅黑;">ConsumerGroup名称</h3>
				<span class="help-block"><small>用于表明消费者的身份.<br>ConsumerGroup组成：ProductLine.Product.Project [.Sub-Project | .Function]<br>例如：<br> <ins>search.antibot.orderspider.checker</ins>，<br> <ins>sys.mcd.builderprocessor.updater</ins><br> <mark>千万不要出现*.consumer之类的哟</mark><br> <strong> <span ng-if="!(new_application.productLine==''||new_application.productLine==null)">当前ConsumerGroup名称：<br> {{new_application.productLine}}
						</span> <span ng-if="!(new_application.product==''||new_application.product==null)">.{{new_application.product}}</span> <span ng-if="!(new_application.project==''||new_application.project==null)">.{{new_application.project}}</span></strong>
				</small></span>
			</div>
			<div class="col-md-7">
				<div class="form-group">
					<label>产品线</label> <input class="form-control" autocomplete="off" ng-model="new_application.productLine" typeahead="productLine for productLine in getFilteredProductLine($viewValue)" typeahead-loading="loadingProductlines" placeholder="项目所处的产品线, 例如: flight, hotel, fx ..." /> <i ng-show="loadingProductlines" class="glyphicon glyphicon-refresh"></i>
				</div>
				<div class="form-group">
					<label>Product(Project)</label> <input class="form-control" ng-model="new_application.product" placeholder="产品名称，可使用小写字母、数字。可多段，使用 ' . ' 分隔。" type="text"></input>
				</div>
				<div class="form-group">
					<label>Role(Function)</label> <input class="form-control" ng-model="new_application.project" placeholder="消费者收到消息之后所扮演的角色，可使用小写字母、数字。例：saver，notifier，processor。" type="text"></input>
				</div>
				<div class="form-group">
					<label>AppId</label> <input class="form-control" ng-model="new_application.appName" placeholder="如果没有appid可以填写项目名称" type="text"></input>
				</div>
			</div>
		</div>
		<hr>
		<div class="row" ng-if="topicStorageType=='mysql'">
			<div class="col-md-5">
				<h3 style="font-family: 微软雅黑;">参数</h3>
				<span class="help-block"><small>仅mysql存储类型的Topic需要填写该栏，kafka存储类型请略过。</small></span>
			</div>
			<div class="col-md-7">
				<div class="form-group">
					<label>需要重发？</label> <label class="radio-inline"> <input type="radio" ng-model="new_application.needRetry" value=true> 是
					</label> <label class="radio-inline"> <input type="radio" ng-model="new_application.needRetry" value=false> 否
					</label>
				</div>
				<div ng-if="new_application.needRetry=='true'">
					<div class="form-group">
						<label>重发次数</label> <input class="form-control" ng-model="new_application.retryCount" type="number"></input>
					</div>
					<div class="form-group" style="margin-bottom: 0px;">
						<label>重发间隔（秒）</label> <input class="form-control" ng-model="new_application.retryInterval" type="number"></input>
					</div>
					<span class="help-block"><small>每次进行重发的时间间隔。</small></span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<h3 style="font-family: 微软雅黑;">负责人信息</h3>
			</div>
			<div class="col-md-7">
				<div class="form-group">
					<label class=>负责人1 姓名</label> <input class="form-control" ng-model="new_application.ownerName1" type="text"></input>
				</div>
				<div class="form-group">
					<label class=>负责人1 邮箱</label>
					<div class="input-group">
						<input class="form-control" ng-model="new_application.ownerEmail1Prefix" type="text"></input>
						<div class="input-group-addon">@Ctrip.com</div>
					</div>
				</div>
				<div class="form-group">
					<label class=>负责人1 手机</label> <input class="form-control" ng-model="new_application.ownerPhone1" type="tel"></input>
				</div>
				<div class="form-group">
					<label class=>负责人2 姓名</label> <input class="form-control" ng-model="new_application.ownerName2" type="text"></input>
				</div>
				<div class="form-group">
					<label class=>负责人2 邮箱</label>
					<div class="input-group">
						<input class="form-control" ng-model="new_application.ownerEmail2Prefix" type="text"></input>
						<div class="input-group-addon">@Ctrip.com</div>
					</div>
				</div>
				<div class="form-group">
					<label class=>负责人2 手机</label> <input class="form-control" ng-model="new_application.ownerPhone2" type="tel"></input>
				</div>
			</div>
		</div>
		<hr>
		<button class="btn btn-success pull-right" ng-click="create_consumer_application(new_application)">
			<span class="glyphicon glyphicon-saved"></span>提交
		</button>
	</div>
</div>
