.board-header {
	display: block;
	height: 100%;
	border: solid #bce8f1 1px;
	overflow: auto;
}

.board-kibana-frame {
	height: 220px;
	margin-top: 10px;
	border: 0px;
}

.board-block {
	/*display: block;*/
	height: 100%;
	border: solid #bce8f1 1px;
	padding: 0px 0px;
}

.board-broker {
	display: block;
	height: 100%;
	border: solid #bce8f1 1px;
}

.title-2 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.producer {
	height: 400px;
	padding: 5px 15px;
	margin-bottom: 5px;
	color: inherit;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.queue {
	height: 400px;
	padding: 5px 15px;
	margin-bottom: 5px;
	color: inherit;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
}

.producer-msg-history-table {
	height: 280px !important;
	/*border: 1px solid #c5c5c5;*/
	overflow: auto;
}

.queue-msg-table {
	height: 340px !important;
	overflow: auto;
}

.consumer-group {
	float: left;
}

.consumer {
	height: 100%;
	/*width: 500px;*/
	padding: 5px 15px;
	margin-bottom: 5px;
	color: inherit;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
}

.consumer-msg-table {
	overflow: auto;
}


.btn-group > .btn {
	border-radius: 0;
}

ul:first-child:not(:last-child) > li > .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0;
}

ul:last-child:not(:first-child) > li > .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 4px;
}

ul:first-child:not(:last-child) > li > .btn-group > .btn.dropdown-toggle {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
}

ul:last-child:not(:first-child) > li > .btn-group > .btn.dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
}

ul:only-child > li > .btn-group > .btn:not(.dropdown-toggle) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

ul:only-child > li > .btn-group > .btn.dropdown-toggle {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
} 

