.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.op-alert {
	position: fixed;
	bottom: 25%;
	right: 0;
	margin-bottom: 0;
	font-size: 1.2em;
	padding: 1em 1.3em;
	z-index: 2000;
}

.detail-label {
	line-height: 2.3;
	text-align: right;
}