.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.op-alert {
	position: fixed;
	bottom: 25%;
	right: 1%;
	margin-bottom: 0;
	font-size: 1em;
	padding: 0.5em 0.5em;
	z-index: 2000;
}

.detail-label {
	line-height: 2.3;
	text-align: right;
}

.panel-info>.storage-heading {
	/*color: #31708f;*/
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.smalltable>tbody>tr>td, .smalltable>tbody>tr>th, .smalltable>tfoot>tr>td,
	.smalltable>tfoot>tr>th, .smalltable>thead>tr>td, .smalltable>thead>tr>th
	{
	padding: 0px;
}

.status-ok {
	border-radius: 50%;
	display: inline-block;
	border-radius: 50%;
	background: green;
	width: 10px;
	height: 10px;
}

.status-warn {
	border-radius: 50%;
	display: inline-block;
	border-radius: 50%;
	background: rgb(240, 173, 78);
	width: 10px;
	height: 10px;
}

.status-danger {
	border-radius: 50%;
	display: inline-block;
	border-radius: 50%;
	background: red;
	width: 10px;
	height: 10px;
}

body {
	padding-top: 60px;
}

.navbar-fixed-top {
	border: 0;
}

.bootbox .modal-dialog {
	margin-top: 10%;
	width: 400px;
}

.bootbox .modal-footer {
	text-align: left;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding-top: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.popover .popover-content {
	max-width: none;
	min-width: 180px;
	overflow: auto;
	max-height: 300px;
}

.tooltip .tooltip-inner {
	max-width: none;
}