<link href="../../css/topic.css" type="text/css" rel="stylesheet">
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/dashboard.css" rel="stylesheet">

<div ng-app="hermes-dashboard">
    <div class="container" ng-controller="DashboardCtrl">
        <div class="row board-header panel panel-info">
            <div class="panel-heading">Hermes Status
            &
            </div>

            <div class="panel-body">
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-success" disabled="disabled"
                            style="margin-top: 50px">All Healthy
                    </button>
                </div>
                <div class="col-md-2 col-md-offset-1">Message Qps
                    <iframe class="board-kibana-frame"
                            src="http://10.2.7.73:5601/#/visualize/edit/Consumed-Message-QPS?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count)),listeners:(),params:(fontSize:'40'),type:metric))"
                            height="90%" width="100%">
                    </iframe>
                </div>
                <div class="col-md-2">Topic Count
                    <iframe class="board-kibana-frame"
                            src="http://10.2.7.73:5601/#/visualize/edit/Consumed-Message-QPS?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count)),listeners:(),params:(fontSize:'40'),type:metric))"
                            height="90%" width="100%">
                    </iframe>
                </div>
                <div class="col-md-2">Producers Count
                    <iframe class="board-kibana-frame"
                            src="http://10.2.7.73:5601/#/visualize/edit/Consumed-Message-QPS?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count)),listeners:(),params:(fontSize:'40'),type:metric))"
                            height="90%" width="100%">
                    </iframe>
                </div>
                <div class="col-md-2">Consumers Count
                    <iframe class="board-kibana-frame"
                            src="http://10.2.7.73:5601/#/visualize/edit/Consumed-Message-QPS?embed&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count)),listeners:(),params:(fontSize:'40'),type:metric))"
                            height="90%" width="100%">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 board-block panel panel-info">
                <div class="panel-heading">Topic QPS Top10</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>QPS</th>
                        <th>Remaining</th>
                        <th>IO</th>
                        <th>Latency</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="topic in topics">
                    <tr>
                        <td><a href="#">
                            {{topic.name}}</a>
                        </td>
                        <td>{{topic.qps}}</td>
                        <td>{{topic.j}}</td>
                        <td>{{topic.io}} KB</td>
                        <td>{{topic.latency}}</td>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 board-block panel panel-info">
                <div class="panel-heading">Consumer QPS Top10</div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Topic</th>
                        <th>QPS</th>
                        <th>Latency</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="consumer in consumers">
                    <tr>
                        <td><a href="#">
                            {{consumer.group}}</a>
                        </td>
                        <td>{{consumer.name}}</td>
                        <td>{{consumer.topic}}</td>
                        <td>{{consumer.qps}}</td>
                        <td>{{consumer.latency}}</td>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row board-broker panel panel-info">
            <div class="panel-heading">Brokers</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Load</th>
                    <th>IO</th>
                    <th>QPS</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody ng-repeat="broker in brokers">
                <tr>
                    <td><a href="#">
                        {{broker.name}}</a>
                    </td>
                    <td>{{broker.ip}}</td>
                    <td>{{broker.load}}</td>
                    <td>{{broker.io}}</td>
                    <td>{{broker.qps}}</td>
                    <td>
                        <button type="button" class="btn btn-success"> Healthy</button>
                    </td>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="../../js/jquery-1.11.3.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../js/angular.min.js"></script>
<script type="text/javascript" src="../../js/angular-resource.min.js"></script>
<script type="text/javascript" src="../../js/dashboard/controller.js"></script>
<script type="text/javascript" src="../../js/dashboard/service.js"></script>