			<table st-table="datasources" class="table table-condensed table-responsive">
				<thead>
					<tr>
						<th style="width: 5%">#</th>
						<th>ID</th>
						<th>bootstrap.servers</th>
						<th>zookeeper.connect</th>
						<th>offsets.storage</th>
						<th width="100px">操作</th>
					</tr>
				</thead>
				<tbody ng-repeat="ds in datasources">
					<tr>
						<td ng-bind="$index+1"></td>
						<td>{{ds.id}}</td>
						<td>{{ds.properties['bootstrap.servers']['value']}}</td>
						<td>{{ds.properties['zookeeper.connect']['value']}}</td>
						<td>{{ds.properties['offsets.storage']['value']}}</td>
						<td>
							<div class="buttons">
							<button class="btn btn-warning btn-xs" ng-click="edit($index)"><span class="glyphicon glyphicon-edit"></span> 修改</button>
							<button class="btn btn-danger btn-xs" ng-click="confirm($index, $event)"><span class="glyphicon glyphicon-remove"></span> 删除</button>
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="text-center" colspan="7" pagination-x page-size="10">
						</td>
					</tr>
				</tfoot>
			</table>