<div class="row">
	<!-- basic information -->
	<div class="col-md-7">
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<label class="label label-info pull-left">基本信息</label>
				<form editable-form name="consumerDetailForm" onaftersave="update_consumer(currentConsumer,currentConsumer.topicName,currentConsumer.name)" ng-show="consumerDetailForm.$visible">
					<button type="submit" class="btn btn-xs btn-success pull-right" aria-hidden="true" ng-disabled="consumerDetailForm.$waiting">
						<span class="glyphicon glyphicon-saved"></span>保存
					</button>
					<button type="button" style="margin-right: 15px" class="btn btn-xs btn-danger pull-right" aria-hidden="true" ng-disabled="consumerDetailForm.$waiting" ng-click="consumerDetailForm.$cancel()">取消</button>
				</form>
				<button id="updateButton" class="btn btn-xs btn-success pull-right" aria-hidden="true" ng-click="consumerDetailForm.$show()" ng-show="!consumerDetailForm.$visible">
					<span class="glyphicon glyphicon-pencil"></span> 修改
				</button>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">Consumer ID</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.id"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">名称</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">Topic名称</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.topicName"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label " style="padding-top: 0px">AppId</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.appIds" e-form="consumerDetailForm" editable-text="currentConsumer.appIds" e-name="appIds"></span>
						</div>
					</div>
					<div ng-if="!logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">消费策略</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.retryPolicy"></span>
						</div>
					</div>
					<div ng-if="logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">消费策略</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.retryPolicy" e-form="consumerDetailForm" editable-text="currentConsumer.retryPolicy" e-name="retryPolicy"></span>
						</div>
					</div>
					<div ng-if="!logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">启用</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.enabled"></span>
						</div>
					</div>
					<div ng-if="!logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">机房消费策略</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.idcPolicy"></span>
						</div>
					</div>
					<div ng-if="logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">启用</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.enabled" e-form="consumerDetailForm" editable-select="currentConsumer.enabled" e-name="enabled" e-ng-options="op for op in ops"></span>
						</div>
					</div>
					<div ng-if="logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">IP黑名单</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.blackList" e-form="consumerDetailForm" editable-text="currentConsumer.blackList" e-name="blackList"></span>
						</div>
					</div>
					<div ng-if="logined" class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">机房消费策略</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.idcPolicy" e-form="consumerDetailForm" editable-select="currentConsumer.idcPolicy" e-name="idcPolicy" e-ng-options="op for op in idcPolicies"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">负责人1</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.owner1" editable-text="currentConsumer.owner1" e-form="consumerDetailForm" e-name="owner1"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">电话1</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.phone1" editable-text="currentConsumer.phone1" e-form="consumerDetailForm" e-name="phone1"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">负责人2</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.owner2" editable-text="currentConsumer.owner2" e-form="consumerDetailForm" e-name="owner2"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" style="padding-top: 0px">电话2</label>
						<div class="col-md-8">
							<span ng-bind="currentConsumer.phone2" editable-text="currentConsumer.phone2" e-form="consumerDetailForm" e-name="phone2"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<label class="label label-info">重置Offset</label> <span class="col-md-offset-1 text-danger">需要先停止consumer。</span>
			</div>
			<div class="panel-body">
				<div class="row col-sm-offset-2">
					<div class="form-group">
						<div class="col-sm-8">
							<label class="radio-inline" ng-click="expandCollapse()"> <input type="radio" ng-model="currentConsumer.resetOption" " value="latest">最新
							</label> <label class="radio-inline" ng-click="expandCollapse()"> <input type="radio" ng-model="currentConsumer.resetOption" value="earliest">最早
							</label> <label class="radio-inline" ng-click="expandCollapse()" ng-show="topic.storageType=='mysql'"> <input type="radio" ng-model="currentConsumer.resetOption" value="timepoint">时间点
							</label><label class="radio-inline" ng-click="expandCollapse()" ng-show="topic.storageType=='mysql'"> <input type="radio" ng-model="currentConsumer.resetOption" value="shift">相对位移
							</label>
						</div>
						<div class="col-sm-4">
							<button class="btn btn-xs btn-primary" ng-click="submitReset()">提交</button>
						</div>
					</div>
					<div class="form-group collapse" id="timepoint">
						<div class="col-sm-8">
							<input class="form-control" type="datetime-local" style="margin-top: 10px;" ng-model="currentTimestamp" placeholder="yyyy-MM-ddTHH:mm:ss" />
						</div>
					</div>
					<div class="form-group collapse col-sm-8" style="margin-top: 10px;" id="shift">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-4 control-label">Partition:</label>
								<div class="col-sm-6">
									<select class="form-control" ng-model="partition" ng-options="partition for partition in partitions"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">队列类型:</label>
								<div class="col-sm-6">
									<select class="form-control" ng-model="queueType" ng-options="queueType.value as queueType.key for queueType in queueTypes"></select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label">位移：</label>
								<div class="col-sm-6">
									<input class="form-control" type="number" ng-model="shift" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- partition information -->
	<div class="col-md-5">
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<label class="label label-info pull-left">报警配置</label>
				<form editable-form name="consumerMonitorConfigForm" onaftersave="update_consumer_monitor_config(currentConsumerMonitorConfig, currentConsumerMonitorReceivers, currentConsumerMonitorConfig.topic,currentConsumerMonitorConfig.consumer)" ng-show="consumerMonitorConfigForm.$visible">
					<button type="submit" class="btn btn-xs btn-success pull-right" aria-hidden="true" ng-disabled="consumerMonitorConfigForm.$waiting">
						<span class="glyphicon glyphicon-saved"></span>保存
					</button>
					<button type="button" style="margin-right: 15px" class="btn btn-xs btn-danger pull-right" aria-hidden="true" ng-disabled="consumerMonitorConfigForm.$waiting" ng-click="consumerMonitorConfigForm.$cancel()">取消</button>
				</form>
				<button id="updateConfigButton" class="btn btn-xs btn-success pull-right" aria-hidden="true" ng-click="consumerMonitorConfigForm.$show()" ng-show="!consumerMonitorConfigForm.$visible">
					<span class="glyphicon glyphicon-pencil"></span> 修改
				</button>
			</div>
			<div class="panel-body" style="padding:5px">
				<div class="form-horizontal">
					<div class="panel panel-warning" style="margin-bottom: 5px">
						<div class="panel-heading clearfix" style="padding: 5px">消费积压报警</div>
						<div class="panel-body" style="padding: 5px">
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警开关</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.largeBacklogEnable" editable-select="currentConsumerMonitorConfig.largeBacklogEnable" e-ng-options="s.value as s.text for s in switch_statuses" e-form="consumerMonitorConfigForm"
										e-name="largeBacklogEnable"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警阈值</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.largeBacklogLimit" editable-text="currentConsumerMonitorConfig.largeBacklogLimit" e-form="consumerMonitorConfigForm" e-name="largeBacklogLimit"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-warning" style="margin-bottom: 5px">
						<div class="panel-heading clearfix" style="padding: 5px">死信报警</div>
						<div class="panel-body" style="padding: 5px">
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警开关</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.largeDeadletterEnable" editable-select="currentConsumerMonitorConfig.largeDeadletterEnable" e-ng-options="s.value as s.text for s in switch_statuses" e-form="consumerMonitorConfigForm"
										e-name="largeDeadletterEnable"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警阈值</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.largeDeadletterLimit" editable-text="currentConsumerMonitorConfig.largeDeadletterLimit" e-form="consumerMonitorConfigForm" e-name="largeDeadletterLimit"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-warning" style="margin-bottom: 5px">
						<div class="panel-heading clearfix" style="padding: 5px">长时间未消费报警</div>
						<div class="panel-body" style="padding: 5px">
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警开关</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.longTimeNoConsumeEnable" editable-select="currentConsumerMonitorConfig.longTimeNoConsumeEnable" e-ng-options="s.value as s.text for s in switch_statuses" e-form="consumerMonitorConfigForm"
										e-name="longTimeNoConsumeEnable"></span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" style="padding-top: 0px">告警阈值</label>
								<div class="col-md-8">
									<span ng-bind="currentConsumerMonitorConfig.longTimeNoConsumeLimit" editable-text="currentConsumerMonitorConfig.longTimeNoConsumeLimit" e-form="consumerMonitorConfigForm" e-name="longTimeNoConsumeLimit"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-warning" style="margin-bottom: 5px">
						<div class="panel-heading clearfix" style="padding:5px">其他联系人(除负责人以外)</div>
						<div class="panel-body" style="padding:5px">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th class="col-sm-5">邮箱</th>
										<th class="col-sm-4">手机</th>
										<th class="col-sm-3">
											<button ng-click="add_receiver()" class="btn btn-xs btn-info pull-right" ng-show="consumerMonitorConfigForm.$visible" ng-disabled="consumerMonitorConfigForm.$waiting"><span class="glyphicon glyphicon-plus"></span> 增加联系人</button>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="receiver in currentConsumerMonitorReceivers">
										<td class="col-sm-5"><span ng-bind="receiver.email" editable-text="receiver.email" e-form="consumerMonitorConfigForm" e-name="receiver.email"></span></td>
										<td class="col-sm-4"><span ng-bind="receiver.phone" editable-text="receiver.phone" e-form="consumerMonitorConfigForm" e-name="receiver.phone"></span></td>
										<td class="col-sm-3" style="vertical-align: middle;">
											<button ng-show="consumerMonitorConfigForm.$visible" ng-click="remove_receiver($index)" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-remove-circle"></span>删除</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<loading-x></loading-x>
<alert-x id="alert" title="确认"></alert-x>