<div>
    <table class="table table-striped table-condensed smalltable">
        <thead>
        <tr>
            <th>Table name</th>
            <th>Size</th>
            <th>Row Count</th>
            <th>Partition Range</th>
            <th>Latest Data</th>
            <th width="20%">Partition操作</th>
        </tr>
        </thead>
        <tbody ng-repeat="table in tables | filter: briefOrAll ">
        <tr ng-click="clickOnTable(table)">
            <td>
                {{table.name}}
            </td>
            <td>{{table.size}}</td>
            <td>{{table.tableRows}}</td>
            <td></td>
            <td></td>
            <td>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" ng-model="table.span">
                     <span class="input-group-btn">
                        <button class="btn btn-success btn-xs" ng-click="add_pa(table)"><span
                                class="glyphicon glyphicon-plus"></span>新增
                        </button>

                        <button class="btn btn-danger btn-xs" ng-click="delete_pa(table)">
                            <span class="glyphicon glyphicon-remove"></span>删除
                        </button>
                     </span>
                </div>
            </td>
        </tr>
        <tr ng-repeat="pa in table.partitions | orderBy: 'nameOrder'" ng-if="table.isShowPas">
            <td >
                <span style="margin-left: 20px">{{pa.name}}</span>
            </td>
            <td>{{pa.size}}</td>
            <td>{{pa.tableRows}}</td>
            <td>{{pa.range}}</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
