<div class="row">
	<!-- basic information -->
	<div class="col-md-5 col-md-offset-1">
		<div class="panel panel-info">
			<div class="panel-heading">
				<label class="label label-info">基本信息</label>
				<button class="btn btn-xs btn-success" style="float: right;" aria-hidden="true" ng-click="save_topic()">
					<span class="glyphicon glyphicon-saved"></span> 提交
				</button>
			</div>
			<div class="panel-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="inputTopicName" class="col-md-4 control-label">名称</label>
						<div class="col-md-8">
							<input class="form-control" id="inputTopicName" placeholder="Topic" ng-model="new_topic.name">
						</div>
					</div>
					<div class="form-group">
						<label for="inputCodec" class="col-md-4 control-label">编码类型</label>
						<div class="col-md-4">
							<select class="form-control" id="inputCodec" ng-model="new_topic.baseCodecType" ng-options="codec for codec in codecTypes">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">开启优先队列功能？</label>
						<div class="col-md-8">
							<label class="radio-inline"> <input type="radio" ng-model="new_topic.priorityMessageEnabled" ng-value=true> 是
							</label> <label class="radio-inline"> <input type="radio" ng-model="new_topic.priorityMessageEnabled" ng-value=false> 否
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">消息是否需要压缩？</label>
						<div class="col-md-8">
							<label class="radio-inline"> <input type="radio" ng-model="new_topic.needCompress" value=true> 是
							</label> <label class="radio-inline"> <input type="radio" ng-model="new_topic.needCompress" value=false> 否
							</label>
						</div>
					</div>
					<div ng-show="new_topic.needCompress=='true'" class="form-group">
						<label class="col-md-4 control-label">压缩方式</label>
						<div class="col-md-8">
							<select class="form-control" ng-model="new_topic.compressionType" ng-options="compressionType for compressionType in compressionTypes"></select>
						</div>
					</div>
					<div ng-show="new_topic.needCompress=='true'&&new_topic.compressionType=='deflater'" class="form-group">
						<label class="col-md-4 control-label">压缩程度</label>
						<div class="col-md-7">
							<slider ng-model="new_topic.compressionLevel" min="1" step="1" max="9" value="new_topic.compressionLevel"></slider>
						</div>
						<div class="col-md-1">{{new_topic.compressionLevel}}</div>
					</div>
					<div class="form-group">
						<label for="inputConsumeRetryPolicy" class="col-sm-4 control-label">消费重试策略</label>
						<div class="col-sm-8">
							<input class="form-control" id="inputConsumeRetryPolicy" placeholder="Consume Retry Policy" ng-model="new_topic.consumerRetryPolicy">
						</div>
					</div>
					<div class="form-group">
						<label for="inputAckTimeout" class="col-sm-4 control-label">ACK 超时(秒)</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" id="inputAckTimeout" placeholder="ACK Timeout" ng-model="new_topic.ackTimeoutSeconds">
						</div>
					</div>
					<div class="form-group">
						<label for="inputStoragePartitionSize" class="col-sm-4 control-label">数据库分区大小</label>
						<div class="col-sm-6">
							<input class="form-control" id="inputStoragePartitionSize" placeholder="Storage Partition Size" ng-model="new_topic.storagePartitionSize">
						</div>
					</div>
					<div class="form-group">
						<label for="inputResendPartitionSize" class="col-sm-4 control-label">重发分区大小</label>
						<div class="col-sm-6">
							<input class="form-control" id="inputResendPartitionSize" placeholder="Resend Partition Size" ng-model="new_topic.resendPartitionSize">
						</div>
					</div>
					<div class="form-group">
						<label for="inputStoragePartitionCount" class="col-sm-4 control-label">数据库分区数量</label>
						<div class="col-sm-6">
							<input class="form-control" id="inputStoragePartitionCount" placeholder="Storage Partition Count" ng-model="new_topic.storagePartitionCount">
						</div>
					</div>
					<div class="form-group">
						<label for="inputCodec" class="col-md-4 control-label">broker分组</label>
						<div class="col-md-4">
							<select class="form-control" id="inputBrokerGroup" ng-model="new_topic.brokerGroup" ng-options="brokerGroup for brokerGroup in broker_groups">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">负责人1</label>
						<div class="col-sm-6">
							<input class="form-control" ng-model="new_topic.owner1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">电话1</label>
						<div class="col-sm-6">
							<input class="form-control" ng-model="new_topic.phone1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">负责人2</label>
						<div class="col-sm-6">
							<input class="form-control" ng-model="new_topic.owner2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">电话2</label>
						<div class="col-sm-6">
							<input class="form-control" ng-model="new_topic.phone2">
						</div>
					</div>
					<div class="form-group">
						<label for="inputDescription" class="col-sm-4 control-label">描述</label>
						<div class="col-sm-8">
							<input class="form-control" id="inputDescription" placeholder="Topic Description" ng-model="new_topic.description">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- partition information -->
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<label class="label label-info">Partition 信息</label>
				<button ng-click="add_partition()" class="btn btn-xs btn-success" style="float: right;">
					<span class="glyphicon glyphicon-plus"></span> 增加 Partition
				</button>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-responsive">
					<thead>
						<tr>
							<th style="border: none; width: 5%"></th>
							<th style="border: none;">Datasource / 读</th>
							<th style="border: none;">Datasource / 写</th>
							<th style="border: none;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="partition in new_topic.partitions">
							<td style="border: none; width: 5%;"><label style="line-height: 2.2" ng-bind="$index + 1"></label></td>
							<td style="border: none;"><select ng-model="partition.readDatasource" ng-options="ds for ds in current_datasource_names" class="form-control"></select></td>
							<td style="border: none;"><select ng-model="partition.writeDatasource" ng-options="ds for ds in current_datasource_names" class="form-control"></select></td>
							<td style="border: none; line-height: 2.2"><button ng-click="delete_partition($index)" class="btn btn-xs btn-danger">
									<span class="glyphicon glyphicon-remove"></span> 删除
								</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>