<a href="/console/topic#/detail/{{topic.storageType}}/{{topic.storageType}}/{{current_topic}}"><span ng-bind="current_topic" class="label label-success"></span></a> <span class="text-success">(id:{{topic.id}})</span>
<br>
<br>
<div ng-if="topic.storageType=='kafka'">
	<h4>Kafka Topic 消息产生和消费请查询对应环境下trifecta：</h4>
	<ul>
		<li>fws: <a href="{{trifecta_urls.fws}}">{{trifecta_urls.fws}}</a></li>
		<li>uat: <a href="{{trifecta_urls.uat}}">{{trifecta_urls.uat}}</a></li>
		<li>prod: <a href="{{trifecta_urls.prod}}">{{trifecta_urls.prod}}</a></li>
	</ul>
</div>
<div ng-if="topic.storageType=='mysql'">
	<div class="row" style="height: 40%">
		<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					生产速度
					<!-- <a href="#top/produce/{{current_topic}}" class="btn btn-xs btn-success" style="text-align: center;"> <span class="glyphicon glyphicon-th-list"></span> 生产速度排行
					</a> <a href="#top/consume/{{current_topic}}" class="btn btn-xs btn-warning" style="text-align: center;"> <span class="glyphicon glyphicon-th-list"></span> 消费速度排行
					</a> <a href="#top/process/{{current_topic}}" class="btn btn-xs btn-primary" style="text-align: center;"> <span class="glyphicon glyphicon-time"></span> 消费耗时排行
					</a>  -->
					<a href="#latest/{{current_topic}}" class="btn btn-xs btn-info" style="text-align: center;"> <span class="glyphicon glyphicon-eye-open"></span> 最新消息
					</a>
				</div>
				<div class="panel-body">
					<iframe style="border: 0" ng-src="{{k_topic_produce_history}}" width="100%"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="height: 60%">
		<div class="col-md-12" style="height: 100%">
			<div class="panel panel-success" style="height: 100%">
				<div class="panel-heading">Consumer 消费延时</div>
				<div class="panel-body" style="height: 90%">
					<div ng-if="consumers.length==0">
						<h2 style="text-align: center;">
							<label class="label label-danger">NO CONSUMER WAS FOUND</label>
						</h2>
					</div>
					<div ng-if="consumers.length>0" style="height: 100%">
						<div class="col-md-3" style="padding: 0px; height: 100%">
							<input class="form-control" ng-model="search.name"> <br>
							<div class="well" style="overflow-y: auto; height: 80%; padding: 0px;">
								<ul class="nav nav-pills nav-stacked" ng-repeat="consumer in consumers|filter:search:strict">
									<li ng-if="current_consumer==consumer.name" role="presentation" ng-class="'active'" tooltip="{{consumer.name}} (id:{{consumer.id}})" ng-click="get_consumer_delay_for_topic(current_topic,consumer.name)"><a style="cursor: pointer;">{{consumer.name|short:26}}</a></li>
									<li ng-if="current_consumer!=consumer.name" role="presentation" tooltip="{{consumer.name}} (id:{{consumer.id}})"><a href="#/detail/{{current_topic}}/{{consumer.name}}">{{consumer.name|short:26}}</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-9" style="overflow-y: auto; height: 100%">
							<table class="table table-hover" style="font-size: small; margin-bottom: 0px;">
								<thead>
									<tr>
										<th>Partition ID</th>
										<th>最新优先消息ID</th>
										<th>消费至/积压(<span class="text-danger">{{consumer_delay.totalPriorityDelay}}</span>)
										</th>
										<th>最新非优先消息ID</th>
										<th>消费至/积压(<span class="text-danger">{{consumer_delay.totalNonPriorityDelay}}</span>)
										</th>
										<th>最新重发消息</th>
										<th>消费至/积压(<span class="text-danger">{{consumer_delay.totalResendDelay}}</span>)
										</th>
										<th>Consumer Ip</th>
										<th>Broker Ip</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-click="" ng-repeat="delaydetail in consumer_delay">
										<td><span ng-bind="delaydetail.partitionId"></span></td>
										<td><span ng-bind="delaydetail.priorityMsgId"></span></td>
										<td><span>{{delaydetail.priorityMsgOffset || '-'}} / <span class="text-danger"><strong>{{delaydetail.priorityDelay || '-'}}</strong></span></span></td>
										<td><span>{{delaydetail.nonPriorityMsgId}}</span></td>
										<td><span>{{delaydetail.nonPriorityMsgOffset || '-'}} / <span class="text-danger"><strong>{{delaydetail.nonPriorityDelay || '-'}}</strong></span></span></td>
										<td><span>{{delaydetail.maxResendId}}</span></td>
										<td><span>{{delaydetail.resendOffset || '-'}} / <span class="text-danger"><strong>{{delaydetail.resendDelay || '-'}}</strong></span></span></td>
										<td><span ng-bind="delaydetail.currentConsumerIp"></span></td>
										<td><span ng-bind="delaydetail.currentBrokerIp"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>