<span ng-bind="current_topic" class="label label-success"></span>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<a href="#top/produce/{{current_topic}}" class="btn btn-xs btn-success" style="text-align: center;">
					<span class="glyphicon glyphicon-th-list"></span>
					生产速度排行
				</a>
				<a href="#top/consume/{{current_topic}}" class="btn btn-xs btn-warning" style="text-align: center;">
					<span class="glyphicon glyphicon-th-list"></span>
					消费速度排行
				</a>
				<a href="#top/process/{{current_topic}}" class="btn btn-xs btn-primary" style="text-align: center;">
					<span class="glyphicon glyphicon-time"></span>
					消费耗时排行
				</a>
				<a href="#latest/{{current_topic}}" class="btn btn-xs btn-info" style="text-align: center;">
					<span class="glyphicon glyphicon-eye-open"></span>
					最新消息
				</a>
			</div>
			<iframe style="border: 0" ng-src="{{k_topic_produce_history}}" height="200" width="100%"></iframe>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-success">
			<div class="panel-heading">Consumer 消费延时</div>
			<table class="table table-hover" st-pipe="topic_delay" st-table="delay_table" style="font-size: small;">
				<thead>
					<tr>
						<th st-sort="consumer">Consumer 名称</th>
						<th st-sort="partition">Partition ID</th>
						<th st-sort="delay">延迟数量</th>
					</tr>
					<tr>
						<th><input st-search="consumer" placeholder="Consumer Name" class="input-sm form-control" type="search" ng-model-options="{updateOn:'blur'}" /></th>
						<th><input st-search="partition" placeholder="Partition ID" class="input-sm form-control" type="search" ng-model-options="{updateOn:'blur'}" /></th>
						<th><input st-search="delay" placeholder="Delay" class="input-sm form-control" type="search" ng-model-options="{updateOn:'blur'}" /></th>
					</tr>
				</thead>
				<tbody ng-if="!is_loading">
					<tr ng-click="" ng-repeat="delay in topic_delay.details">
						<td><a href="#consume/{{current_topic}}/{{delay.consumer}}">
								<span ng-bind="delay.consumer" tooltip="点击查看消费详情"></span>
							</a></td>
						<td width="15%"><span ng-bind="delay.partitionId"></span></td>
						<td><span ng-bind="delay.delay"></span></td>
					</tr>
				</tbody>
				<tbody ng-if="is_loading">
					<tr>
						<td colspan="1" class="text-center">Loading ...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>