<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span ng-bind="current_topic"></span>
				最新消息 &emsp;
				<button class="btn btn-sm btn-success" ng-click="refresh_topic_latest()"><span class="glyphicon glyphicon-refresh"></span> 刷新</button>
			</div>
			<table class="table table-bordered table-striped table-condensed table-hover" style="font-size: small;">
				<thead>
					<tr>
						<th>#</th>
						<th>Ref Key</th>
						<th>Attributes</th>
						<th>Codec</th>
						<th>Date</th>
						<th>Payload</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in topic_latest">
						<td><span ng-bind="$index + 1"></span></td>
						<td><a href="" tooltip="{{row.rawMessage.refKey}}" tooltip-trigger="click">
								<span ng-bind="row.rawMessage.refKey | short:30"></span>
							</a></td>
						<td><a href="" tooltip="点击查看详情" ng-click="show_tree(row.rawMessage.refKey, row.attributesString, false)">
								<span ng-bind="row.attributesString | short:20"></span>
							</a></td>
						<td><span ng-bind="row.rawMessage.codecType"></span></td>
						<td><span ng-bind="row.rawMessage.creationDate | date:'MM-dd HH:mm:ss'"></span></td>
						<td><a tooltip="点击查看详情" href="" ng-click="show_tree(row.rawMessage.refKey, row.payloadString, true)">
								<span ng-bind="row.payloadString | short:30"></span>
							</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="attr-view" tabindex="-1" role="dialog" aria-labelledby="attr-view-label" aria-hidden="true">
	<div class="modal-dialog" style="width: 1024px; margin-top: 5%; float: right; margin-right: 2%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="attr-view-label">
					REF-KEY:
					<span ng-bind="current_refkey"></span>
				</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<h5>
								<label class="label label-primary">消息结构</label>
							</h5>
							<div id="data-tree"></div>
						</div>
						<div class="col-md-6">
							<h5>
								<label class="label label-primary">源消息</label>
							</h5>
							<pre style="max-height: 600px; overflow: scroll;">{{current_attr_json | json:2}}</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>