<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Appenders>
		<Async name="ASYNC">
			<!-- <AppenderRef ref="FILE" /> -->
			<AppenderRef ref="CONSOLE" />
		</Async>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %c{1.} - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<Appender-ref ref="ASYNC" />
		</Root>
	</Loggers>

</Configuration>  