			<form class="form-horizontal" name="consumerApplicationForm" ng-if="application.type==1">
				<div ng-if="application.onlineEnv" class="form-group">
					<label class="col-sm-4 control-label">申请环境</label>
					<div class="col-sm-6">
						<input class="form-control" placeholder="Topic Environment" ng-model="application.onlineEnv"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Topic名称 </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Topic" ng-model="application.topicName" readonly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Consumer名称 </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Consumer Name" value="{{application.productLine}}.{{application.product}}.{{application.project}}" readOnly="readonly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">应用名称 </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Application Name" ng-model="application.appName">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">超时时间（秒） </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Ack Timeout Seconds" ng-model="application.ackTimeoutSeconds">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">需要重发？</label>
					<div class="col-md-6">
						<div class="btn-group">
							<label class="btn">
							<input type="radio" name="retryStrategy" ng-value="true" ng-model="application.needRetry"> Yes
							</label>
							<label class="btn">
							<input type="radio" name="retryStrategy" ng-value="false" ng-model="application.needRetry"> No
							</label>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="application.needRetry">
					<label class="col-md-4 control-label">重发次数 </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Retry Count" ng-model="application.retryCount">
					</div>
				</div>
				<div class="form-group" ng-if="application.needRetry">
					<label class="col-md-4 control-label">重发间隔（秒） </label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Retry Interval" ng-model="application.retryInterval">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">需要多机房容灾？</label>
					<div class="col-md-6">
						<div class="btn-group">
							<label class="btn">
							<input type="radio" name="idcPolicy" ng-value="true" ng-model="application.needMultiIdc"> Yes
							</label>
							<label class="btn">
							<input type="radio" name="idcPolicy" ng-value="false" ng-model="application.needMultiIdc"> No
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人姓名1</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Topic Creator1" ng-model="application.ownerName1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人邮箱1</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Email Address of Topic Creator1" ng-model="application.ownerEmail1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人手机1</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Phone No of Topic Creator1" ng-model="application.ownerPhone1">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人姓名2</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Topic Creator2" ng-model="application.ownerName2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人邮箱2</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Email Address of Topic Creator2" ng-model="application.ownerEmail2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">负责人手机2</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Phone No of Topic Creator2" ng-model="application.ownerPhone2">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">申请时间</label>
					<div class="col-md-6">
						<input class="form-control" placeholder="Topic Description" value="{{application.lastModifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}">
					</div>
				</div>
			</form>