						<div class="row">
							<div class="col-md-6">
								<label class="label label-info">基本信息</label>
								<div class="form-horizontal">
									<div class="form-group">
										<label for="inputTopicName" class="col-md-4 control-label">名称</label>
										<div class="col-md-6">
											<input class="form-control" id="inputTopicName" placeholder="Topic" ng-model="view.name">
										</div>
									</div>
									<div class="form-group">
										<label for="inputDescription" class="col-sm-4 control-label">描述</label>
										<div class="col-sm-6">
											<textarea class="form-control" id="inputDescription" placeholder="Topic Description" ng-model="view.description"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="inputCodec" class="col-md-4 control-label">编码类型</label>
										<div class="col-md-6">
											<select class="form-control" id="inputCodec" ng-model="view.codecType" ng-options="codec for codec in codec_types">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEndpoint" class="col-md-4 control-label">Endpoint类型</label>
										<div class="col-md-6">
											<select class="form-control" id="inputEndpoint" ng-model="view.endpointType" ng-options="endpointType for endpointType in endpoint_types">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputConsumeRetryPolicy" class="col-sm-4 control-label">消费重试策略</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputConsumeRetryPolicy" placeholder="Consume Retry Policy" ng-model="view.consumerRetryPolicy">
										</div>
									</div>
									<div class="form-group">
										<label for="inputAckTimeout" class="col-sm-4 control-label">ACK 超时(秒)</label>
										<div class="col-sm-6">
											<input type="number" class="form-control" id="inputAckTimeout" placeholder="ACK Timeout" ng-model="view.ackTimeoutSeconds">
										</div>
									</div>
									<div class="form-group">
										<label for="inputStoragePartitionSize" class="col-sm-4 control-label">数据库分区大小</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputStoragePartitionSize" placeholder="Storage Partition Size" ng-model="view.storagePartitionSize">
										</div>
									</div>
									<div class="form-group">
										<label for="inputResendPartitionSize" class="col-sm-4 control-label">重发分区大小</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputResendPartitionSize" placeholder="Resend Partition Size" ng-model="view.resendPartitionSize">
										</div>
									</div>
									<div class="form-group">
										<label for="inputStoragePartitionCount" class="col-sm-4 control-label">数据库分区数量</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputStoragePartitionCount" placeholder="Storage Partition Count" ng-model="view.storagePartitionCount">
										</div>
									</div>
									<div class="form-group">
										<label for="inputOwner1" class="col-sm-4 control-label">负责人1</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputOwner1" placeholder="Topic Creator 1" ng-model="view.owner1">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPhone1" class="col-sm-4 control-label">电话1</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputPhone1" placeholder="Topic Creator 1's Phone Number" ng-model="view.phone1">
										</div>
									</div>
									<div class="form-group">
										<label for="inputOwner2" class="col-sm-4 control-label">负责人2</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputOwner2" placeholder="Topic Creator 2" ng-model="view.owner2">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPhone2" class="col-sm-4 control-label">电话2</label>
										<div class="col-sm-6">
											<input class="form-control" id="inputPhone2" placeholder="Topic Creator 2's Phone Number" ng-model="view.phone2">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div ng-if="view.storageType=='kafka'">
									<label class="label label-default">属性</label>
									<button ng-click="add_property(view)" class="btn btn-xs btn-success" style="float: right;">
										<span class="glyphicon glyphicon-plus"></span> 增加属性
									</button>
									<div class="well" style="padding-left: 5px; padding-right: 5px;">
										<h2 ng-if="view.properties.length == 0" style="text-align: center;">
											<label class="label label-warning">NO PROPERTY WAS DEFINED</label>
										</h2>
										<table class="table table-condensed table-responsive" ng-if="view.properties.length > 0">
											<tbody>
												<tr ng-repeat="property in view.properties">
													<td  style="border: none; width: 5%;"><label style="line-height: 2.2" ng-bind="$index + 1"></label></td>
													<td class="col-md-7" style="border: none;"><select class="form-control" ng-model="property.name" ng-options="property for property in properties"></select></td>
													<td class="col-md-5"style="border: none;"><input class="form-control" ng-model="property.value" placeholder="Property Value"></td>
													<td style="border: none; line-height: 2.2">
														<button class="btn btn-danger btn-xs" ng-click="delete_property(view,$index)">
															<span class="glyphicon glyphicon-remove"></span> 删除
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div>
									<label class="label label-default">Partition 信息</label>
									<button ng-click="add_partition()" class="btn btn-xs btn-success" style="float: right;">
										<span class="glyphicon glyphicon-plus"></span> 增加 Partition
									</button>
									<div class="well" style="padding-left: 5px; padding-right: 5px;">
										<table class="table table-condensed table-responsive">
											<thead>
												<tr>
													<th style="border: none; width: 5%"></th>
													<th style="border: none;">Datasource / 读</th>
													<th style="border: none;">Datasource / 写</th>
													<th style="border: none;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="partition in view.partitions">
													<td style="border: none; width: 5%;"><label style="line-height: 2.2" ng-bind="$index + 1"></label></td>
													<td style="border: none;"><select ng-model="partition.readDatasource" ng-options="ds for ds in datasources['fws']" class="form-control"></select></td>
													<td style="border: none;"><select ng-model="partition.writeDatasource" ng-options="ds for ds in datasources['fws']" class="form-control"></select></td>
													<td style="border: none; line-height: 2.2">
														<button ng-click="delete_partition($index)" class="btn btn-xs btn-danger">
															<span class="glyphicon glyphicon-remove"></span> 删除
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<button type="button" class="btn btn-primary pull-right" ng-click="createTopic()" ng-if="!$parent.view.id">同步</button>
								<button type="button" class="btn btn-primary pull-right disabled" ng-click="createTopic()" ng-if="view.id">同步</button>
							</div>
						</div>
