<?xml version="1.0" encoding="utf-8"?>
<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee">

	<context-param>
		<param-name>credisServiceUrl</param-name>
		<param-value>http://ws.config.framework.ctripcorp.com/configws/</param-value>
	</context-param>

	<listener>
		<listener-class>org.jasig.cas.client.credis.CRedisAppSettingListner</listener-class>
	</listener>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>cat-filter</filter-name>
		<filter-class>com.dianping.cat.servlet.CatFilter</filter-class>
	</filter>
	<!-- shiro filter must be put in front of validation-filter -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
		<init-param>
			<param-name>staticSecurityManagerEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>validation-filter</filter-name>
		<filter-class>com.ctrip.hermes.portal.web.HermesValidationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>
	<filter>
		<filter-name>mvc-filter</filter-name>
		<filter-class>org.unidal.web.MVCFilter</filter-class>
		<init-param>
			<param-name>cat-client-xml</param-name>
			<param-value>/data/appdatas/cat/client.xml</param-value>
		</init-param>
		<init-param>
			<param-name>liger-home</param-name>
			<param-value>/data/appdatas/liger</param-value>
		</init-param>
		<init-param>
			<param-name>excludes</param-name>
			<param-value>/css/*,/img/*,/js/*,/fonts/*,/api/*,/favicon.ico,/slbhealthcheck.html</param-value>
		</init-param>
	</filter>
	<!-- 该过滤器负责用户的认证工作，必须启用它 -->
	<filter>
		<filter-name>CASFilter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://cas.ctripcorp.com/caso/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://hermes.fx.ctripcorp.com</param-value>
		</init-param>
		<init-param>
			<param-name>redisClusterName</param-name>
			<param-value>casClientPrincipal</param-value>
		</init-param>
	</filter>
	<!-- 该过滤器负责对Ticket的校验工作，必须启用它 -->
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>
			org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://cas.ctripcorp.com/caso</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://hermes.fx.ctripcorp.com</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>useRedis</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>redisClusterName</param-name>
			<param-value>casClientPrincipal</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>apisso-filter</filter-name>
		<filter-class>com.ctrip.hermes.portal.web.SsoApiFilter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>apisso-filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CASFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cat-filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>validation-filter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>mvc-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.ctrip.hermes.portal.resource.application.PortalRestApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/apisso/*</url-pattern>
	</servlet-mapping>
</web-app>
